div {
  height: 200px;
  background: #e6ac0c;
  border: 1px solid #000;
}

.main {
  height: 1000px;
}

.upper {
  height: 150px;
  width: 98.4%;
  margin-left: 10px;
  margin-top: 10px;
  background: green;
  display: inline-block;
}

.square {
  height: 120px;
  width: 10%;
  margin-top: 10px;
  margin-left: 12px;
  background: red;
  display: inline-block;
}

.rect1 {
  height: 120px;
  width: 86%;
  margin: auto;
  margin-top: 10px;
  margin-left: 15px;
  background: blue;
  display: inline-block;
}

.square, .rect1 {
  margin-bottom: 6px;
}

.Brect1 {
  margin-left: 10px;
  margin-top: 10px;
  height: 440px;
  display: inline-block;
  width: 20%;
  background: #788412;
}

.Brect11 {
  height: 180px;
  width: 90%;
  margin-top: 23px;
  margin-left: 11px;
  background: red;
}

.Brect12 {
  height: 180px;
  width: 90%;
  margin-top: 30px;
  margin-left: 11px;
  background: navy;
}

.Brect2 {
  height: 440px;
  margin-top: 15px;
  display: inline-block;
  width: 57.4%;
  background: #489891;
}

.Brect21 {
  background: #215295;
  width: 1000px;
  height: 200px;
  margin-left: 50px;
  margin-top: 10px;
}

.Brect22 {
  background: #aa4312;
  width: 450px;
  height: 200px;
  margin-left: 50px;
  margin-top: 15px;
  position: absolute;
}

.Brect23 {
  background: #156126;
  width: 450px;
  height: 200px;
  margin-left: 600px;
  margin-top: 15px;
  position: absolute;
}

.Brect3 {
  height: 440px;
  margin-top: 10px;
  display: inline-block;
  width: 20%;
  background: #125126;
}

.Brect4 {
  background: #915253;
  width: 98%;
  margin-left: 10px;
  height: 350px;
}

.Brect41 {
  background: blue;
  width: 46%;
  height: 330px;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}

.Brect42 {
  background: blue;
  width: 46%;
  height: 330px;
  position: absolute;
  margin-top: 10px;
  margin-left: 970px;
}